.beijingse{
	width: 100%;
	height: 100%;
	background: #F5F5F5;
}
.topx{
	height: 80px;
}
.fenlei1{
	width: 100%;
	height: 41px;
	background: #f5f5f5;
}
.fenlei1s{
	width: 1226px;
	height: 41px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 41px;
	color: #616161;

}
.fenlei1s>span{
	cursor: pointer;

}
.fenlei2{
	width: 1226px;
	height: 81px;
	padding: 18px 0;
	margin: 0 auto;
	font-size: 15px;
	display: flex;
	align-items: center;
}
.fenlei2>span{
	color: #b0b0b0;
	padding-right: 15px;
}
.fenlei2s>span:nth-child(1){
	color: #424242;
	padding-right: 100px;
	cursor: pointer;
}
.fenlei2s>span:nth-child(1):hover{
	color: #ff6700;
}
.fenlei2s>span:nth-child(2){
	color: #ff6700;
	padding-right: 100px;
	cursor: pointer;
}
.fenlei2s>span:nth-child(3){
	color: #424242;
	cursor: pointer;
}
.fenlei2s>span:nth-child(3):hover{
	color: #ff6700;
}
.fenlei3{
	width: 100%;
	height: 500px;
	background: #f5f5f5;

}
.fenlei3s{
	width: 1226px;
	/* height: 50px; */
	background: #f5f5f5;
	margin: 0 auto;
}
.fenleis1{
	width: 100%;
	height: 20px;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}
.fenles1-1{
	display: flex;
}
.fenles1-1>div{
	padding: 0 30px;
	border-left: 1px solid #e0e0e0;
	cursor: pointer;

}
.fenles1-1>div:hover{
	color: #ff6700;
}
.fenles1-1>div:first-child{
	padding-left: 0;
	border-left: 0px solid #e0e0e0;
	color: #FF6700;
}
.fenles1-2{
	display: flex;
}
.fenles1-2>div{
	padding-left: 50px;
	font-size: 14px;
	color: #424242;
	display: flex;
	align-items: center;
}
.fenles1-2>div:hover{
	color: #ff6700;
	cursor: pointer;
}
.fenleis2{
	width: 100%;
	height: 430px;
	overflow: hidden;
	display: flex;
}
.fenleis2>div:last-child{
	margin: 0;
}
.fenleis2-1{
	width: 296px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;
	position: relative;
	color: rgba(0,0,0,0);
	cursor: pointer;
	margin-right: 14px;
}
.fenleis2-1:hover{
	color: rgba(0,0,0,1);
	box-shadow: 0px 5px 5px #e0e0e0;
	transition: all 0.5s;

}
.fenleis2-1>img{
	width: 200px;
	height: 200px;
}
.fenleis2-1>div:nth-of-type(1){
	font-size: 15px;
	color: #424242;
	padding-bottom: 10px;
}
.fenleis2-1>div:nth-of-type(2)>span{
	color: #ff6700;
	font-size: 14px;
}
.fenleis2-1>div:nth-of-type(2){
	padding-bottom: 10px;

}
.fenleis2-1>div:nth-of-type(2)>s{
	color: #b0b0b0;
	font-size: 14px;
}
.fenleis2-1>div:nth-of-type(3){
	width: 34px;
	height: 34px;
	border: 1px solid #e0e0e0;
	
}
.fenleis2-1>div:nth-of-type(3)>img{
	width: 34px;
	height: 34px;
}
.dibushuangtiao{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.dibushuangtiao1{
	background: #e53935;
	width: 100%;
	height: 50%;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
}
.dibushuangtiao2{
	width: 100%;
	height: 50%;
	background: #2196f3;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
}
.dibushuangtiao span{
	padding-left: 15px;
}
.fenleis2-1>div:nth-child(6){
	position: absolute;
	left: 30px;
	top: 30px;
	font-size: 20px;

}
.fenleis2-1>div:nth-child(7){
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 28px;
}
.fenlei4{
	width: 100%;
	height: 40px;

}
.fenlei4s{
	width: 1226px;
	height: 100%;
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.fenlei4s-1{
	width: 372px;
	height: 2px;
	background: #778695;
}
.fenlei4s-3{
	width: 372px;
	height: 2px;
	background: #778695;

}
.fenlei4s-2{
	width: 482px;
	height: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 30px;
	color: #b0b0b0;
}
.tui{
	width: 1226px;
	height: 310px;
	margin: 100px auto;
	overflow: hidden;

}
.tui ul{
	width: calc(1226px * 3);
	height: 300px;
	float: left;
	text-align: center;
	margin-bottom: 0;
}
.tui>ul>li{
	width:234px;
	height: 100%;
	margin-left: 14px;
	background: #fff;
	float: left;
	cursor: pointer;
}
.tui>ul>li:hover{
	box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
	transform: translateY(-5px);
	transition: all 0.3s;
}
.tui .tui-forst{
	margin-left:0px;
}
.tui>ul>li img{
	width: 140px;
	height: 140px;
}
.tui1-1{
	font-size: 15px;
	color: #3f3f3f;
	margin-top: 22px;
}
.tui1-2{
	font-size: 12px;
	color: #ffaf78;
	margin: 15px;
}
.tui1-3{
	font-size: 15px;
	color: #bcbcbc;
	margin-top: 20px;
}