/* banner */
.banner{
	width: 1226px;
	height: 460px;
	margin: 0px auto;
	position: relative;
}
.banner-img img{
	width: 1226px;
	height: 460px;
	position: absolute;
	top:0;
	left: 0;
	cursor: pointer;
}
.banner-list{
	width: 234px;
	height: 460px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 33px 0 ;
	box-sizing:border-box;
	background:rgba(83,93,102,0.5);
}
.banner-list div{
	height: 39.4px;
	cursor: pointer;
	line-height: 39.4px;
}
.banner-list div:hover{
	background: #ff6700;
	transition: all 0.3s;
}
.banner-list .banner-list-forst{
	margin: 0px;
}
.banner-list-1{
	margin-left: 30px;
	font-size: 16px;
	color: #fff;
}
.banner-list-2>i{
	margin-left: 80px;
	font-size: 16px;
	color: #c0c3c7;
}
.banner-jiantouleft{
	cursor: pointer;
}
.banner-jiantouleft>div{
	width: 41px;
	height: 69px;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	position: absolute;
	left: 234px;
	top: 195.5px;
	z-index: 9;
}
.banner-jiantouleft>div:hover {
	background:rgba(83,93,102,0.5);
	transition: all 0.3s;
}
.banner-jiantouleft>i{
	font-size: 30px;
	margin-left: 5px;
	line-height: 69px;
	position: absolute;
	left: 234px;
	top: 195.5px;
}
.banner-jiantouright{
	cursor: pointer;
}
.banner-jiantouright>div{
	width: 41px;
	height: 69px;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	position: absolute;
	top: 195.5px;
	right: 0;
	z-index: 9;

}
.banner-jiantouright>div:hover {
	background:rgba(83,93,102,0.5);
	transition: all 0.3s;

}
.banner-jiantouright>i{
	font-size: 30px;
	margin-left: 5px;
	line-height: 69px;
	position: absolute;
	top: 195.5px;
	right: 0;
}
.banner-dian{
	width: 100px;
	height: 10px;
	position: absolute;
	right: 34px;
	bottom: 24px;
}
.banner-dian div{
	width: 10px;
	height: 10px;
	background: #778695;
	border-radius: 50%;
	float:left;
	margin-left: 10px;
	border: 2px solid #9fa8b0;
	box-sizing:border-box;
}
.banner-dian .banner-dian1{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	border: 2px solid #9fa8b0;
}
.banner2s{
	width: calc(1226px - 234px);
	height: 100%;
	background: rgba(255,255,255,1);
	position: absolute;
	top: 0;
	right: 0px;
	border-top:1px solid black ;
	box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
	visibility: hidden;
}
.banner-list>div:hover .banner2s{
	visibility: visible;
}
/* banner结束 */
.bannerxia{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 15px;
}
.bannerxia1{
	width: 234px;
	height: 170px;
	float: left;
}
.bannerxia1>div{
	width: 78px;
	height: 85px;
	background: #5f5750;
	padding-top: 20px;
	text-align:center;
	box-sizing:border-box;
	float: left;
	position: relative;
	cursor: pointer;
}
.bannerxia1>div>em{
	font-size: 12px;
	color: #d1cfcc;
	display:block;
/* 	margin-bottom: 10px;
	list-style: none; */
}
.bannerxia1>div:hover .bannerxia1>div>i{
	color: red;
}
.bannerxia1>div>i{
	font-size: 25px;
	color: #d1cfcc;
}
.bannerxia1s>div{
	width: 1px;
	height: 70px;
	background: #645c56;
	position: absolute;
	right: 0;
	top: 7.5px;
}
.bannerxia1>div>span{
	width: 70px;
	height: 1px;
	background: #645c56;
	position: absolute;
	bottom: 0;
	left:4px;
}
.bannerxia2{
	width: 992px;
	height: 170px;
	float: left;
}
.bannerxia2-1>img{
	width: 316px;
	height: 170px;
	float: left;
	margin-left: 14.66px;
	cursor: pointer;
}

/* 小米闪购 */
.topx2{
	width: 1226px;
	height: 22px;
	margin: 45px auto;
}
.topx2 span{
	width: 90px;
	height: 100%;
	text-align: left;
	font-size: 21px;
	color: #303030;
}
.topx2r{
	width: 72px;
	height: 100%;
	border: 2px solid #e7e7e7 ;
	box-sizing:border-box;
	float: right;
}
.topx2r-1{
	width: 34px;
	height: 100%;
	float: left;
	text-align: center;
	line-height:16px;
}
.topx2r-2{
	box-sizing:border-box;
	width: 34px;
	height: 100%;
	border-left:2px solid #e7e7e7 ;
	float: left;
	text-align: center;
	line-height:16px ;
}
.topx2r-2 i{
	color: #9c9c9c;
	font-size: 12px;
}
.topx2r-1 i{
	color: #e0e0e0;
	font-size: 12px;
}
/* 闪购内容 */
.shan{
	width: 1226px;
	height: 340px;
	background: #fff;
	margin: 18px auto;
	text-align: center;
}
.shan1{
	background: #f1eded;
	width: 234px;
	height: 100%;
	box-sizing:border-box;
	border-top:2px solid #ea5f5b;
	float: left;
	cursor: pointer;
}
.shan1-1{
	margin-top:60px;
	color: #FF0000;
	font-weight: 600;
	font-size: 21px;
}
.shan1-2{
	color: red;
	font-size:55px;
	line-height: 113px;
	text-align: center;
	margin-left: 50px;
}
.shan1-3{
	color: #918e8e;
	font-size:15px;
}
.shan1-4{
	width: 170px;
	height: 46px;
	margin: 30px auto;
	color: #fff;
	line-height: 46px;
}
.shan1-4 div:nth-child(1){
	width: 46px;
	height: 100%;
	background: #605751;
	float: left;
}
.shan1-4 div:nth-child(2){
	width: 16px;
	height: 100%;
	float: left;
	color: #605751;
}
.shan1-4 div:nth-child(3){
	width: 46px;
	height: 100%;
	background: #605751;
	float: left;
}
.shan1-4 div:nth-child(4){
	width: 16px;
	height: 100%;
	float: left;
	color: #605751;
}
.shan1-4 div:nth-child(5){
	width: 46px;
	height: 100%;
	background: #605751;
	float: left;
}
.shan2{
	/* background: black; */
	width: 992px;
	height: 340px;
	float: left;
}
.shan2 li{
	width: 234px;
	height: 340px;
	background: #fafafa;
	margin-left: 14px;
	float: left;
	box-sizing:border-box;
	border-top:2px solid #ffbc41;
	cursor: pointer;
}
.shan2 img{
	width: 160px;
	height: 165px;
	margin:0px auto;
}
.shan2-li1{
	font-size: 18px;
	font-weight: 700;
	color: #373737;
	text-align: center;
	margin-top: 45px;
}
.shan2-li2{
	font-size: 14px;
	color: #b7b7b7;
	text-align: center;
	margin-top: 10px;
}
.shan2-li3{
	margin: 8px auto;
	text-align: center;
	/* background: #000080; */
	width: 100px;
    height: 20px;
}
.shan2-li3-1{
	color: #fa5300;
	font-size: 16px;
	font-weight: 700;
	float: left;
}
.shan2-li3-2{
	color: #b7b7b7;
	font-size: 16px;
	font-weight: 700;
	float: left;
	margin-left: 8px;

}
.shan2 .clear shan{
	text-align: center;
}
.shangou-bottom{
	margin: 30px auto 0 auto;
	width: 1226px;
	height: 170px;
	cursor: pointer;
}
.shangou-bottom>img{
	width: 1226px;
	height: 170px;
}
/* 手机开始 */
.iPhone-top{
	width: 1226px;
	height: 21px;
	margin: 40px auto 20px auto;
}
.iPhone-top1{
	font-size: 21px;
	color: #3a3a3a;
	text-align:left;
	line-height: 21px;
	float: left;
}
.iPhone-top2{
	width: 92px;
	height: 100%;
	float: right;
}
.iPhone-top2>span{
	font-size: 15px;
	line-height: 21px;
	text-align:left;
	color: #4a4a4a;
	cursor: pointer;
}
.iPhone-top2>i{
	font-size: 21px;
	line-height: 21px;
    text-align: right;
	color: #b0b0b0;
	cursor: pointer;
}
.iPhone-top2:hover .iPhone-top2>i{
	color: #FF6700;
}
.iPhone-bottom{
	width: 1226px;
	height: 614px;
	margin: 0 auto;
}
.iPhone-bottom1{
	width: 234px;
	height: 100%;
	background: #000080;
	float: left;
}
.iPhone-bottom1 img{
	width: 100%;
	height: 100%;
}
.iPhone-bottom2{
	width: calc(1226px - 234px);
	height: 100%;
	float: left;
	cursor: pointer;
	/* overflow: hidden; */
}
.iPhone-bottom2>div:nth-child(5){
	margin-top: 14px;
}
.iPhone-bottom2>div:nth-child(6){
	margin-top: 14px;
}
.iPhone-bottom2>div:nth-child(7){
	margin-top: 14px;
}
.iPhone-bottom2>div:nth-child(8){
	margin-top: 14px;
}
.iPhone-bottom2s{
	width: 234px;
	height: 300px;
	float: left;
	margin-left:14px;
	background: #ffffff;
	text-align: center;
}
.iPhone-bottom2s:hover{
	box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
	transform: translateY(-5px);
	transition: all 0.3s;
}
.iPhone-bottom2s div:nth-child(1){
	width: 63px;
	height: 20px;
	background: #83c44e;
	margin: 0 auto;
	font-size: 14px;
	color: white;
	line-height: 20px;
}
.iPhone-bottom2s>img{
	width: 150px;
	height: 150px;
	margin-top: 20px;
}
.iPhone-bottom2s p:nth-child(3){
	font-size: 15px;
	color: #000000;
}
.iPhone-bottom2s div:nth-child(4){
	font-size: 12px;
	color: #b7b7b7;
	margin-top: 13px;
}
.iPhone-bottom2s div:nth-child(5){
	color: #ff7222;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 600;
}
/* 手机结束 */
.householdtop{
	margin: 30px auto;
	width: 1226px;
	height: 170px;
	cursor: pointer;
}
.householdtop>img{
	width: 1226px;
	height: 170px;
}
/* 家电开始 */
.household-top{
	width: 1226px;
	height: 25px;
	margin: 40px auto 20px auto;
}
.household-top1{
	font-size: 21px;
	color: #3a3a3a;
	text-align:left;
	line-height: 21px;
	float: left;
}
.household-top2{
	width:250px ;
	height: 100%;
	float: right;
	cursor: pointer;
}
.household-top2>span{
	font-size: 15px;
	margin-left: 28.5px;
	color: #585858;
}
.household-top2>span:hover{
	color: #ff6700;
}
.household-top2 span:nth-child(1){
	/* color: #fb863f; */
	margin-left: 0;
}
.household-bottom{
	width: 1226px;
	height: 614px;
	margin: 0 auto;
	position: relative;
}
.household-bottoms{
	position: absolute;
	bottom: 0;
	left: 0;
}
.household-bottoms-1{
	position: absolute;
	bottom: 0;
	left: 0;
}
.household-bottom1{
	width: 234px;
	height: 100%;
	float: left;
}
.household-bottom1>div:nth-child(2){
	margin-top: 14px;
}
.household-bottom1s{
	width: 100%;
	height: 300px;
	float: left;
	cursor: pointer;
}
.household-bottom1s:hover{
	box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
	transform: translateY(-5px);
	transition: all 0.3s;
}
.household-bottom1s>img{
	width: 234px;
	height: 300px;
}
.household-bottom2{
	width: calc(1226px - 234px);
	height: 100%;
	float: left;
}
.household-bottom2>div:nth-child(5){
	margin-top: 14px;
}
.household-bottom2>div:nth-child(6){
	margin-top: 14px;
}
.household-bottom2>div:nth-child(7){
	margin-top: 14px;
}
.household-bottom2>div:nth-child(8){
	margin-top: 14px;
	background: #f5f5f5;
}
.household-bottom2s{
	width: 234px;
	height: 300px;
	float: left;
	margin-left:14px;
	background: #ffffff;
	text-align: center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.household-bottom2ss{
	width: 234px;
	height: 300px;
	float: left;
	margin-left:14px;
	background: #ffffff;
	text-align: center;
	cursor: pointer;
	position: relative;
	/* overflow: hidden; */
}
.household-bottom2s>main{
	width: 100%;
	height: 75px;
	background: #ff7800;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateY(75px);
}
.household-bottom2s>main>div:nth-child(1){
	color: #fff;
	text-align: center;
	font-size: 13px;
	position: absolute;
	left: 20px;
	top: 7px;
	right: 20px;
}
.household-bottom2s>main>div:nth-child(2){
	color: #ffc095;
	text-align: center;
	font-size: 12px;
	position: absolute;
	left: 30px;
	bottom: 10px;
}
.household-bottom2s:hover{
	box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
	transform: translateY(-5px);
	transition: all 0.3s;
}
.household-bottom2s:hover.household-bottom2s>main{
	transition: all 0.3s;
	transform: translateY(0px);
}
.household-bottom2s>header{
	background: #ffffff;
}
.household-bottom2s>div:nth-child(1){
	width: 63px;
	height: 20px;
	background: #83c44e;
	margin: 0 auto;
	font-size: 14px;
	color: white;
	line-height: 20px;
}
.household-bottom2s>img{
	width: 150px;
	height: 150px;
	margin-top: 20px;
}
.household-bottom2s p:nth-child(3){
	font-size: 15px;
}
.household-bottom2s div:nth-child(4){
	font-size: 12px;
	color: #b7b7b7;
	margin-top: 13px;
}
.household-bottom2s div:nth-child(5){
	color: #ff7222;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 600;
}
.household-bottom2ss>header{
	width: 234px;
	height: 143px;
	float: left;
	background: #fff;
	position: relative;
}
.household-bottom2ss>header:hover{
	box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
	transform: translateY(-5px);
	transition: all 0.3s;
}
.household-bottom2ss>header:nth-child(2){
	margin-top: 14px;
}
.household-bottom2ss>header>img{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 31.5px;
	right: 20px; 
}
.household-bottom2>div:nth-child(8)>header>div{
	font-size: 15px;
	color: #232323;
	float: left;
	margin-top: 40px;
	margin-left: 30px;
}
.household-bottom2>div:nth-child(8)>header>span{
	font-size: 13px;
	color: #ffae76;
	position: absolute;
	top: 70px;
	left: 30px;
}
/* 家电结束 */
.householdbottom{
	margin: 30px auto;
	width: 1226px;
	height: 170px;
	cursor: pointer;
}
.householdbottom>img{
	width: 1226px;
	height: 170px;
}
.intelligencebottom{
	margin: 30px auto;
	width: 1226px;
	height: 170px;
	cursor: pointer;
}
.intelligencebottom>img{
	width: 1226px;
	height: 170px;
}
.collocationbottom{
	margin: 30px auto;
	width: 1226px;
	height: 170px;
	cursor: pointer;
}
.collocationbottom>img{
	width: 1226px;
	height: 170px;
}
.partsbottom{
	margin: 30px auto;
	width: 1226px;
	height: 170px;
	cursor: pointer;
}
.partsbottom>img{
	width: 1226px;
	height: 170px;
}
.peripherybottom{
	margin: 30px auto;
	width: 1226px;
	height: 170px;
	cursor: pointer;
}
.peripherybottom>img{
	width: 1226px;
	height: 170px;
}
/* 为你推荐 */
.topx3{
	width: 1226px;
	height: 22px;
	margin: 30px auto;
}
.topx3 span{
	width: 90px;
	font-size: 21px;

	height: 100%;
	text-align: left;
	color: #303030;
}
.topx3r{
	width: 72px;
	height: 100%;
	border: 2px solid #e7e7e7 ;
	box-sizing:border-box;
	float: right;
}
.topx3r-1{
	width: 34px;
	height: 100%;
	float: left;
	text-align: center;
	line-height:16px;
}
.topx3r-2{
	box-sizing:border-box;
	width: 34px;
	height: 100%;
	border-left:2px solid #e7e7e7 ;
	float: left;
	text-align: center;
	line-height:16px ;
}
.topx3r-2 i{
	color: #9c9c9c;
	font-size: 12px;
}
.topx3r-1 i{
	color: #e0e0e0;
	font-size: 12px;
}
.tui{
	width: 1226px;
	height: 310px;
	margin: 40px auto;
	overflow: hidden;
}
.tui ul{
	width: calc(1226px * 3);
	height: 300px;
	background: #f5f5f5;
	float: left;
	text-align: center;
	margin-bottom: 0;
}
.tui>ul>li{
	width:234px;
	height: 100%;
	margin-left: 14px;
	background: #fff;
	float: left;
	cursor: pointer;
}
.tui>ul>li:hover{
	box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
	transform: translateY(-5px);
	transition: all 0.3s;
}
.tui .tui-forst{
	margin-left:0px;
}
.tui>ul>li img{
	width: 140px;
	height: 140px;
}
.tui1-1{
	font-size: 15px;
	color: #3f3f3f;
	margin-top: 22px;
}
.tui1-2{
	font-size: 12px;
	color: #ffaf78;
	margin: 15px;
}
.tui1-3{
	font-size: 15px;
	color: #bcbcbc;
	margin-top: 20px;
}
/* 热评产品 */
.hotshop{
	width: 1226px;
	height: 460px;
	margin: 0px auto 0px auto;
	cursor: pointer
}
.hotshop .name{
	font-size: 21px;
	color: #373737;
}
.hotshops{
	width: 100%;
	height: 416px;
	margin-top: 22px;
}
.hotshops1{
	width: 296px;
	height: 100%;
	float: left;
	background: #ffffff;
	/* text-align: center; */
}
.hotshops1:hover{
	box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
	transform: translateY(-5px);
	transition: all 0.3s;
}
.hotshops2{
	width: calc(1226px - 296px);
	height: 100%;
	float: left;
}
.hotshops1 img{
	width:100%;
	height: 220px;
}
.hotshops1 .one{
	font-size: 13px;
	color: #111;
	margin: 35px 30px 30px 30px;
}
.hotshops1 .two{
	font-size: 12px;
	color: #b4b4b4;
	margin-left: 30px;
}
.hotshops1 .three{
	margin-left: 30px;
	margin-top: 15px;
}
.hotshops1 .three .three1{
	font-size: 13px;
	color: #3f3f3f;
}
.hotshops1 .three .three2{
	font-size: 15px;
	color: #e1e1e1;
}
.hotshops1 .three .three3{
	font-size: 13px;
	color: #ff8633;
}
.hotshops2 .hotshops1{
	margin-left: 14px;
}
