.top{
	width: 100%;
	height: 32px;
	background: #333;
}
.top .tops{
	width: 1226px;
	height: 100%;
	margin: 0px auto;
}
.top-left{
	width: 571px;
	height: 100%;
	float:left;
}
.topleft1{
	float:left;
}
.topleft1-size{
	font-size: 12px;
	float:left;
	line-height: 32px;
	color: #b0b0b0;
}
.topleft1-size:hover{
	color: #fff;
	transition: all 0.3s;
}
.topleft1-size1{
	font-size: 12px;
	float:left;
	margin-left:4.5px;
	line-height: 32px;
	color: #b0b0b0;
}
.car-left{
	width: 130px;
	height: 100%;
	float: right;
	font-size: 12px;
	line-height: 32px;
	text-align: center; 
	margin-right: 30px;
}
.car-left span{
	margin-left:2.5px;
	color: #b0b0b0;
}
.car-left span:hover{
	color: #fff;
	transition: all 0.3s;
}
.car-right{
	width: 120px;
	height: 100%;
	background: #424242;
	/* float: left; */
	float: right;
	color: #b0b0b0;
	font-size: 12px;
	text-align: center;
    line-height: 32px;
}
.car-right:hover{
	background: #fff;
	color: #FF6700;
	transition: all 0.3s;
}
.topx{
	width: 100%;
    height: 800px;
    /* background: red; */
	float: left;
}
.topx1{
	width: 1226px;
	height: 55px;
	background: #fff;
	margin: 22px auto;
	
}
.topx1 img{
	width: 55px;
	height: 55px;
	float: left;
}
.topxz{
	width: 600px;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 55px;
	margin-left: 190px;
}
.topxz span{
	color:#333333;
	margin-left: 14.1px;
	font-size: 16px;
}
.topxz span:hover{
	color: #ff6700;
	transition: all 0.3s;
}
.topxr{
	width: 295px;
	height: 51px;
	background: #fff;
	border:2px solid #e0e0e0 ;
	float:right;
}
.topxr1{
	width: 242px;
	height: 51px;
	float: left;
}
.topxr2{
	width: 51px;
	height: 51px;
	float: left;
	border-left: 2px solid #e0e0e0;
	text-align: center;
	line-height: 51px;
}